#wrapper{
    text-align: center;
}
.post {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    height: 40vh;
    max-height: 50vh;
    padding: 10px;
    border: 2px solid grey;
    margin: 1%;

}
.search{
    width: 50em;
}
.post img {
    width: 100%;
}

.post p {
    height: 3%;
}

.navbar {
    overflow: hidden;
    color: white;
    background-color: rgb(50, 25, 196);
    top: 0; 
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    height: 40px;
}

.navbar a,form{
    display: inline-block;
    
}
.navbar a{
    text-align: right;
    margin: 0% 4%;
}
.navbar .create_post{
    background-color: white;
    width: 90%;
    text-align: center;
}
.navbar .create_post:hover{
    background-color: rgb(208, 208, 255);
}