<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'login_and_registration_app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'login_and_registration_app/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'login_and_registration_app/css/edit-profile.css' %}">
    <script type="text/javascript" src='http://code.jquery.com/jquery-1.10.2.min.js'></script>
    <script src="{% static 'login_and_registration_app/js/holder.min.js' %}"></script>
    <script src="{% static 'login_and_registration_app/js/popper.min.js' %}"></script>
    <title>Edit profile</title>
</head>
<body>
    <div id="wrapper">
        <h1>Please Update your information:</h1>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="/welcome/edit_user" method="post">
            {% csrf_token %}
            <p>
                <label for="first_name">First Name</label>
                <input type="text" name="first_name" value="{{ user.first_name }}">
            </p>
            <p>
                <label for="last_name">Last Name</label>
                <input type="text" name="last_name" value="{{ user.last_name }}">
            </p>
            <p>
                <label for="email">Email</label>
                <input type="text" name="email" value="{{ user.email }}">
            </p>
            <p> 
                <label for="username">Artistic Alias</label>
                <input type="text" name="username" value="{{ user.username }}">
            </p>
            <p>
                <label for="password">New Password</label>
                <input type="password" name="password">
            </p>
            <p>
                <label for="c_password">Confirm New Password</label>
                <input type="password" name="c_password">
            </p>
            <input type="submit" value="Save Changes">
        </form>
    </div>
</body>
</html>