<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> {%load static%}
    <link rel="stylesheet" href="{%static 'login_and_registration_app/skeleton.css'%}">
    <link rel="stylesheet" href="{%static 'login_and_registration_app/styles.css'%}">
    <title>Login</title>
</head>

<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
    <section class="loginSection">
        <div>
            <h1>Login</h1>
            <form action="/welcome/login" method="post">
                {% csrf_token %}
                <p>Email<input type="text" name="email"></p>
                <p>Password<input type="password" name="password"></p>
                <input type="submit" value="Login">
            </form>
            <a href="/welcome/newUser">Create a new account</a>
        </div>
    </section>
</body>

</html>