<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    {%load static%}
    <link rel="icon" href="{%static 'login_and_registration_app/images/Instadraw-logo.png'%}">
    <link rel="stylesheet" href="{%static 'login_and_registration_app/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static 'login_and_registration_app/css/bootstrap-reboot.css'%}">
    <link rel="stylesheet" href="{%static 'login_and_registration_app/css/modify.css'%}">
    <script type="text/javascript" src="{%static 'login_and_registration_app/js/jquery.js'%}"></script> 
    <script type="text/javascript" src="{%static 'login_and_registration_app/js/scripts.js'%}"></script> 
    <script type="text/javascript" src="{%static 'login_and_registration_app/js/bootstrap.min.js'%}"></script> 
    <script type="text/javascript" src="{%static 'login_and_registration_app/js/holder.min.js'%}"></script> 
    <script type="text/javascript" src="{%static 'login_and_registration_app/js/jquery-slim.min.js'%}"></script> 
    <script type="text/javascript" src="{%static 'login_and_registration_app/js/popper.min.js'%}"></script> 
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
<section>
            <h1>Registration</h1>
            <form action="/welcome/register" method="post" class="px-4 py-3">
                {% csrf_token %}
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">&ensp;First Name&ensp;</span>
                    </div>
                    <input type="text" name=first_name class="form-control" placeholder="First Name" aria-label="Email">
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">&ensp;Last Name&ensp;</span>
                    </div>
                    <input type="text" name=last_name class="form-control" placeholder="Last Name" aria-label="Email">
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">&emsp; Email &emsp;</span>
                    </div>
                    <input type="text" name=email class="form-control" placeholder="example@example.com" aria-label="Email">
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Artistic Alias</span>
                    </div>
                    <input type="text" name=username class="form-control" placeholder="Alias" aria-label="Email">
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">&emsp;Password &ensp;</span>
                    </div>
                    <input type="password" name=password class="form-control" aria-label="Email">
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">&emsp;Confirm&emsp;</span>
                    </div>
                    <input type="password" name=c_password class="form-control" placeholder="Password confirmation" aria-label="Email">
                </div>
                <input type="submit" value="Register" class="btn btn-primary">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/welcome/existingUser">Do you already have an account? Login</a>
            </form>
    </section>
</body>
</html>