<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create a new post</title>
    {%load static%}
    <link rel="icon" href="{%static 'instadraw/Instadraw-logo.png'%}">
    <link rel="stylesheet" href="{%static 'login_and_registration_app/skeleton.css'%}">
    <script type="text/javascript" src='http://code.jquery.com/jquery-1.10.2.min.js'></script> 
    <link rel="stylesheet" href="{%static 'instadraw/styles.css'%}">
    <script type="text/javascript" src="{%static 'instadraw/scripts.js'%}"></script> 
</head>
<nav>
    <a href="/instadraw"><img class='logo' src="{%static 'instadraw/Instadraw-logo.png'%}" alt="Logo"></a>
    <a href="/welcome/logout">Logout</a>
</nav>
<body onload="init()">
    <div class="wrapper_create_post">
        <div class="container_form">
            <canvas id="can" style="border:2px solid;" name='canvas' width="600" height="400"></canvas>
            <form action="/instadraw/create_post/save" name="save" method="post" >
                {%csrf_token%}
                <input type="hidden" alt="Submit" id="image" name="image">
                <textarea name="description" id="description" cols="70" rows="15" placeholder="Optional"></textarea>
            </form>
        </div>
        <div class="menu">
                <h6>Choose Color</h6>
                <div class="colorsMenu">
                    <div class='color' style="background:green;" id="green" onclick="color(this)"></div>
                    <div class='color' style="background:blue;" id="blue" onclick="color(this)"></div>
                    <div class='color' style="background:red;" id="red" onclick="color(this)"></div>
                    <div class='color' style="background:yellow;" id="yellow" onclick="color(this)"></div>
                    <div class='color' style="background:orange;" id="orange" onclick="color(this)"></div>
                    <div class='color' style="background:black;" id="black" onclick="color(this)"></div>
                    <div class='color' style="background:white;" id="white" onclick="color(this)"></div>
                </div>
            </div>
            <div>
                <Button value="Clear" id="clr" onclick="erase()">Clear</Button> 
                <button value="Save" class="save">Save</button> 
            </div>
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
    </div>
</body>
</html>