<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Instadraw</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'login_and_registration_app/skeleton.css'%}">
    <link rel="stylesheet" href="{%static 'instadraw/dashboard.css'%}">
    <script type="text/javascript" src='http://code.jquery.com/jquery-1.10.2.min.js'></script> 
    <script type="text/javascript" src="{%static 'instadraw/scripts.js'%}"></script> 
    <link rel="icon" href="{%static 'instadraw/Instadraw-logo.png'%}">
    <script type="text/javascript" src='https://code.jquery.com/ui/1.12.0/jquery-ui.js'></script> 
</head>
<body>
    <div id="wrapper">
            <div id="header">
                {{request.session.user_name}} 
                <form action="/instadraw/search" id='search_box' method="post">
                    {% csrf_token %}
                    <input type="text" name="search">
                </form>
                <a href="/instadraw">Home </a> | <a href="/welcome/logout">Logout</a>
            </div>
            <div id="all_posts">
                {% if posts %}
                    {% for post in posts %}
                    <div class="post">
                        <a href="/instadraw/show/{{post.id}}">
                            <img src="{{post.pic}}" alt="an image">
                            <p> {{ post.description }} </p>
                        </a>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
            <form action="/instadraw/create_post">
                <input type="submit" value="Create Post">
            </form>
        </div>
    <!-- <a href="instadraw/create_post" class="create_post">Create a new post</a>
    <div class="posts">
        {%for post in posts%}
            <div class="postContainer">
                <a href=""></a>
                <img src="{{post.pic}}" alt="Post" class="imagePost">
                <p>{{post.description}}</p>
                </a>
            </div>
        {%endfor%}
    </div> -->
</body>
</html>