<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {%load static%}
    <link rel="stylesheet" href="{% static 'instadraw/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'instadraw/css/bootstrap-reboot.min.css' %}">
    <script type="text/javascript" src='http://code.jquery.com/jquery-1.10.2.min.js'></script>
    <script src="{% static 'instadraw/bootstrap.min.js' %}"></script>
    <script src="{% static 'instadraw/holder.min.js' %}"></script>
    <script src="{% static 'instadraw/jquery-slim.min.js' %}"></script>
    <script src="{% static 'instadraw/popper.min.js' %}"></script>
    <script src="{% static 'instadraw/js/show.js' %}"></script>
    <title>Profile</title>
</head>

<body>
    <a href="/instadraw/edit">Edit Profile</a>
    {{user}} {%for post in my_post%}
    <div class="postContainer">
        <img src="{{post.pic}}" alt="Post" class="imagePost">
        <p>{{post.description}}</p>
    </div> {%endfor%}
</body>

</html>