
#wrapper {
    width: 100%;
    max-height: 100vh;
    vertical-align: top;
}
#left-pane {
    width: 35%;
    margin-right: 5%;
    vertical-align: top;
    display: inline-block;
}
#icons {
    width: 50%;
    display: inline-block;
    text-align: right;
}
#icons a {
    margin-left: 20px;
    padding-left: 20px;
    background-size: 16px;
    background-repeat: no-repeat;
}
#icons a:first-child{
    background-image:url(../img/like.png);
}
#icons a:last-child{
    background-image:url(../img/comments.png);
}
.optional {
    display: inline-block;
}
#comment-text {
    
}
#comments{
    width: 45%;
    margin-right: auto;
    height: 40em;
    display: inline-block;
}
#comment-footer p {
    display: inline-block;
}
.options {
    font-size: 10px;
}

