.registration, .login{
    display: inline-block;
    width: 500px;
    border: 1px solid black;
    vertical-align: top;
    padding: 20px;
}
input[type='text'],input[type='password']{
    margin: 8px;
}
label{
    display: block;
    padding: 5px;
}
form{
    text-align: right!important;
    width: 350px;
}
.login{
    width: 400px;
}
h1{
    padding: 2px 25px;
}
.green{
    color: green;
}
.loginSection{
    text-align: center;
    margin: 10% 35%;
    width: 30%
}
.loginSection div{
    text-align: center;
    width: 500px;
}
